* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    border: 2px solid black;
    
    border-radius: 6px;
    background: #eee1e1;
}

.display, 
.displayAns {
    width: 298px;
    text-align: right;
    font-size: 20px;
    color: #422800;
    background: #ebe7e7;
    min-height: 40px;
    padding: 6px;
    border: 1px solid #422800;
}

.displayAns {
    font-size: 30px;
    background: #ebe7e7;
    min-height: 50px;
    border-bottom: 2px solid #422800;
}

button {
    background-color: #ebe7e7;
    border: 2px solid #422800;
    border-radius: 30px;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 4px 2px;
    width: 60px;
    height: 60px;
}

button:hover {
    background-color: #fff;
}
  
button:active {
    transform: translate(2px, 2px);
}

.row1Btns button {
    width: 128px;
}